@font-face {
    font-family: 'Lato Bold', sans-serif;
    src: url('../../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato Regular', sans-serif;
    src: url('../../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Raleway regular', sans-serif;
    src: url('../../fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway bold', sans-serif;
    src: url('../../fonts/Raleway/static/Raleway-Bold.ttf');
}